body {
    background-image:
        url('https://rawgit.com/jmthompson2015/runetranscriber/master/webapp/src/main/resources/yellowGradient.png');
    background-repeat: repeat-y;
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    font-size: medium;
}

table {
    border-collapse: collapse;
}

@font-face {
    font-family: Junicode-Bold;
    src: url('https://rawgit.com/jmthompson2015/runetranscriber/master/webapp/src/main/resources/Junicode-Bold.ttf');
}

@font-face {
    font-family: Angerthas;
    src: url('https://rawgit.com/jmthompson2015/runetranscriber/master/webapp/src/main/resources/ANGERTH.TTF');
}

@font-face {
    font-family: Aurebesh;
    src: url('https://rawgit.com/jmthompson2015/runetranscriber/master/webapp/src/main/resources/Aurebesh.ttf');
}

@font-face {
    font-family: Kryptonian;
    src: url('https://rawgit.com/jmthompson2015/runetranscriber/master/webapp/src/main/resources/kryptonian.TTF');
}

@font-face {
    font-family: Tengwar;
    src: url('https://rawgit.com/jmthompson2015/runetranscriber/master/webapp/src/main/resources/TengwarSindarin.ttf');
}

#ALIGN_CENTER, .table-details, .align-center {
    text-align: center;
}

#BACKGROUND_DARK, .table-header-cell-details, .background-dark {
    background-color: darkgreen;
}

#BORDER_DARK, .language-cell, .number-cell, .phoneme-cell, .rune-cell, .table-cell-anglo-saxon, .table-cell-aurebesh,
    .table-cell-cirth, .table-cell-kryptonian, .table-cell-tengwar, .table-details, .border-dark {
    border: 1px solid;
    border-color: darkgreen;
}

#BORDER_LIGHT, .table-header-cell-details, .border-light {
    border: 1px solid;
    border-color: lightgrey;
}

#DISPLAY_INLINE_BLOCK, .alphabetBlock, .imageBlock, .display-inline-block {
    display: inline-block;
}

#FONT_ANGLO_SAXON, .table-cell-anglo-saxon, .font-anglo-saxon {
    font-family: Junicode-Bold;
}

#FONT_AUREBESH, .table-cell-aurebesh, .font-aurebesh {
    font-family: Aurebesh;
}

#FONT_CIRTH, .table-cell-cirth, .font-cirth {
    font-family: Angerthas;
}

#FONT_KRYPTONIAN, .table-cell-kryptonian, .font-kryptonian {
    font-family: Kryptonian;
}

#FONT_SIZE_LARGE, .table-cell-anglo-saxon, .table-cell-aurebesh, .table-cell-cirth, .table-cell-kryptonian,
    .table-cell-tengwar, .font-size-large {
    font-size: large;
}

#FONT_SIZE_SMALL, .language-cell, .phoneme-cell, .table-header-cell-details, .font-size-small {
    font-size: small;
}

#FONT_SIZE_X_SMALL, .number-cell, .rune-cell, .font-size-x-small {
    font-size: x-small;
}

#FONT_TENGWAR, .table-cell-tengwar, .font-tengwar {
    font-family: Tengwar;
}

#PADDING_3, .language-cell, .number-cell, .phoneme-cell, .rune-cell, .table-cell-anglo-saxon, .table-cell-aurebesh,
    .table-cell-cirth, .table-cell-kryptonian, .table-cell-tengwar, .table-details, .table-header-cell-details,
    .padding-3 {
    padding: 3px;
}

#PADDING_LEFT_20, .alphabetBlock, .fontTable, .padding-left-20 {
    padding-left: 20px;
}

#PADDING_TOP_20, .runeLink, .padding-top-20 {
    padding-top: 20px;
}

#VERTICAL_ALIGN_TOP, .alphabetBlock, .fontTable, .vertical-align-top {
    vertical-align: top;
}